body {
    overflow: hidden;
    font-family: 'Chalk';
    color: #FFF;
}
div{
    position: absolute;
}


#canvas{
    top:0;
    left: 0;
    border: 0px;
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

#frame{
    top:0;
    left: 0;
    border: 0px;
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}


#rando{
    top: 120px;
    height: 882px;
    width: 1095px;
    position: absolute;
    background-image: url(../img/letras.fw.png);
}

#later{
    display: none;
}

#next div{      
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 464px;
    font-size: 29px;
    position: relative;
}
#next {      
    top: 463px;
    left: 671px;
    height: 85px;
    width: 464px;
    font-size: 29px;
    position: absolute;
}

span{
    text-align: center;
}



#after0 {      
    top: 463px;
    right: 71px;
    height: 85px;
    width: 464px;
    font-size: 29px;
    position: absolute;
}

#after0 {      
    top: 463px;
    right: 71px;
    height: 85px;
    width: 464px;
    font-size: 29px;
    position: absolute;
}
#after0 div{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 464px;
    font-size: 29px;
    position: relative;
    
    margin-top: -59px;
}

#after1 {      
    top: 463px;
    right: 71px;
    height: 85px;
    width: 464px;
    font-size: 29px;
    position: absolute;
}
#after1 div{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 464px;
    font-size: 29px;
    position: relative;
    
    margin-top: -59px;
}

#Host{
    position: absolute;
    top: 1045px;
    left: 75px;
    width: 136px;
    text-shadow: 2px 2px #000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: none;
}

@font-face {
    font-family: "Aseguir";
    src: url("../fonts/A\ SEGUIR_CHALKBOY.zip") format("opentype");
}

@font-face {
    font-family: "Chalk";
    src: url("../fonts/DkCoolCrayon-xJyV.ttf") format("opentype");
}